.top-wrapper{
  font-size: 1.8rem;

  h2{
    margin-bottom: 30px;
  }
}

.cautions{
  margin: 50px auto 150px;
  padding: 0 15px;
  font-size: 1.6rem;
  display: table;

  li{
    display: block;
    margin: auto;
    text-align: left;
  }
}

.logo{
  margin: 30px auto 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  font-weight: bold;
  font-size: 2.5rem;

  .yt-logo{
    width: 200px;
  }
}