
.wrapper{
  max-width: 1150px;
  margin: 0 auto;

  video{
    width: 500px;
    height: 500px;
  }
  canvas{
    height: 300px;
  }

  button{
    margin-top: 20px;
    margin-bottom: 32px;

  }
}

.back-to-top{
  background: gray;
}

.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;


  // button{
  //   background: black;
  //   color: white;
  //   font-weight: bold;
  //   font-size: 1.5rem;
  //   border: none;
  //   padding: 10px 20px;
  //   margin: 50px auto 0;
  // }
}

.confirm-wrapper-active{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-wrapper-unactive{
  display: none;
}



.confirm-container {  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: skyblue;
  width: 90%;
  max-width: 800px;

  padding: 15px;

  div{
    width: 50%;
  }
}

.confirm-container-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul{
    width: 90%;
    overflow-y: scroll;
    padding-right: 10px;
    font-size: 15px;
  }

  li{
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;
  }

  button{
    width: 300px;
  }
}

